{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}
<h1 class="text-secondary text-center display-4">Change password</h1>

<div class="d-flex flex-row justify-content-center">
  <div class="row mt-4">
    <div class="">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="d-flex flex-row-reverse">
          <button type="submit" class="btn btn-primary mt-3">Change password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
