body {
  font-family: 'Cinzel', serif;
}

.logo {
  font-family: 'Cinzel', serif;
}

.logo a {
  color: "#446488";
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

input{
  font-family: 'Cinzel', serif;

}

.form-group-accounts{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
.form-group-accounts div{
}

.input-file{
  display: none;
}

.profile_img{
  width:45px !important;
  height:45px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
