{% extends 'base.html' %}
{% load static %}

{% block title %}My account{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">My account</li>
{% endblock %}

{% block content %}

      <form enctype="multipart/form-data" method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/account_form.html' %}
        <button type="submit" class="btn btn-success">Save changes</button>
      </form>
{% endblock %}

{% block js %}
  <script src="{% static 'js/account.js' %}"></script>
{% endblock %}
